---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="MicMasterFlex"
	description="MicMasterFlex is an interactive configuration tool for microphone arrays"
>
	<p>Hello world</p>
</Layout>
