<footer class="flex flex-row gap-4">
    <p>
        Made with ❤️ by: <a
            class="underline"
            href="https://github.com/nicolasperez19"
            target="_blank">Nico Perez</a
        >
    </p>
    <p>
        If you love this project, <a
            class="underline"
            href="https://buymeacoffee.com/nico_perez"
            target="_blank">buy Nico a coffee</a
        >
    </p>
</footer>
